<div class="EditPageHeader">
  <div class="backBtnArea"><a class="TagBtn bg-purple" routerLink="/candidates" title="Back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
  <div class="Header">
    <h6 *ngIf="isAddMode">Add Candidates</h6>
    <h6 *ngIf="!isAddMode">Edit Candidates</h6>
  </div>
  <div class="tagBtnArea">
    <button type="submit" *ngIf="isAddMode" class="btn buttonShape buttonGraphics saveBtn" title="Save">
    <img src="./../assets/graphic_icon_save.jpg" class="img-fluid mx-auto d-block " />
    </button>
    
    <button type="submit" *ngIf="!isAddMode" class="btn buttonShape buttonGraphics saveBtn" title="Save">
      <img src="./../assets/graphic_icon_save.jpg" class="img-fluid mx-auto d-block " />
    </button>
    <button type="submit" *ngIf="!isAddMode" class="btn buttonShape buttonGraphics deleteBtn" title="Delete">
      <img src="./../assets/graphic_icon_delete.jpg" class="img-fluid mx-auto d-block " />
    </button>
  
  </div>
</div>





<div class="settingsFromSection">  
  <div class="formArea">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="formSection">
        <h4 class="sectionTitle">General</h4>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
          <label for="" class="col-sm-2 col-form-label">Middle Name</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
          <label for="" class="col-sm-2 col-form-label">Email Address</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
       
       
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Alternale Email Address</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
          <label for="" class="col-sm-2 col-form-label">Mobile Number</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <select name="countryCode" id="">
                  <option data-countryCode="US" value="1">USA (+1)</option>
                  <option data-countryCode="CA" value="1">Canada (+1)</option>
                  <option data-countryCode="MX" value="52">Mexico (+52)</option>
                </select>
              </span>
              <input type="number" class="form-control" placeholder="ex. 98xxx 125xx">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Work Numbr Extn</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <select name="countryCode" id="">
                  <option data-countryCode="US" value="1">USA (+1)</option>
                  <option data-countryCode="CA" value="1">Canada (+1)</option>
                  <option data-countryCode="MX" value="52">Mexico (+52)</option>
                </select>
              </span>
              <input type="number" class="form-control" placeholder="ex. 98xxx 125xx">
              <input type="number" class="form-control" placeholder="ex. Extn">
            </div>
          </div>
          <label for="" class="col-sm-2 col-form-label">DOB</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text"
                     placeholder="Datepicker"
                     class="form-control"
                     bsDatepicker
                     [bsConfig]="{ isAnimated: true }" formControlName="dOB">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">SSN/SIN/UID</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
          <label for="" class="col-sm-2 col-form-label">Country</label>
          <div class="col-sm-4">
            <div class="input-group">
              <select name="selectedrole" formControlName="country" id="aantal" class="form-select" (ngModelChange)="getWorkAuthorization()">
                <option *ngFor="let pt of countryList" [value]="pt">{{pt}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">State/ Provisense</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
          <label for="" class="col-sm-2 col-form-label">City </label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Work Authorization</label>
          <div class="col-sm-4">
            <div class="input-group">
              <select name="selectedrole" formControlName="workAuthorization" id="aantal" class="form-select">
                <option *ngFor="let pt of workAuthorizationList" [value]="pt">{{pt}}</option>
              </select>
            </div>
          </div>
          <label for="" class="col-sm-2 col-form-label">Require Sponsporship</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input class="form-check-input" type="checkbox" value="" id="" checked>
            </div>
          </div>
        </div>
        <div class="row">
          <label for="" class="col-sm-2 col-form-label">Security Clearance</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input class="form-check-input" type="checkbox" value="" id="" checked>
            </div>
          </div>
          <label for="" class="col-sm-2 col-form-label">Current Salary </label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <select name="countryCode" id="">
                  <option data-countryCode="Dollar" value="Dollar">Dollar</option>
                  <option data-countryCode="CAD" value="CAD">CAD</option>
                  <option data-countryCode="INR" value="INR">INR</option>
                </select>
              </span>
              <input type="number" class="form-control">
            </div>
          </div>
        </div>
        
      </div>
      <div class="formSubmitArea">
        <div class="mb-3 row">
          <div class="col-sm-12">
            <!--<button type="submit" *ngIf="isAddMode" class="btn btn-primary">Save</button> &nbsp;
        <button type="submit" *ngIf="!isAddMode" class="btn btn-primary">Edit</button> &nbsp;
        <button type="submit" *ngIf="!isAddMode" class="btn btn-danger">Delete</button>-->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


