
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" *ngIf="user">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" routerLink="/">IMCS</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" (click)="toggleNavbar()" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav navActionBtn px-3">
    <li class="nav-item text-nowrap dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="./../assets/user-alt.svg" class="img-fluid mx-auto d-block" alt="sign-out">
        <p>John Doe</p>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li class="nav-item text-nowrap ">
      <a class="nav-item nav-link" style="cursor:pointer;" (click)="logout()"><img src="./../assets/power.svg" class="img-fluid mx-auto d-block" alt="sign-out"></a>
    </li>
  </ul>
</header>

<div class="container-fluid" *ngIf="user">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse {{menuState}}">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">
              <span><img src="./../assets/dashboard.svg" class="img-fluid mx-auto d-block" alt=""></span>
              Dashboard
            </a>
            <!--<ngb-accordion #acc="ngbAccordion" activeIds="toggle-1">
              <ngb-panel id="toggle-1">
                <ng-template ngbPanelTitle>
                  <span><img src="./../assets/dashboard.svg" class="img-fluid mx-auto d-block" alt=""></span>
                  Dashboard
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="accordion-body">
                    <ul>

                      <li><a style="cursor:pointer;text-decoration-line:none;" (click)="companySettings()" [class.active]="router.url==='/company'||router.url==='/company/add'">Company</a></li>
                      <li><a style="cursor:pointer;text-decoration-line:none;" (click)="ContactsSettings()" [class.active]="router.url==='/contacts'||router.url==='/contacts/add'">Contacts</a></li>

                    </ul>
                  </div>
                </ng-template>
              </ngb-panel>

            </ngb-accordion>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer;text-decoration-line:none;" [routerLink]="['/company']" routerLinkActive="active"  >
              <span><img src="./../assets/company_icon.png" class="img-fluid mx-auto d-block" alt=""></span>
              Company
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer;text-decoration-line:none;" [routerLink]="['/contacts']" routerLinkActive="active">
              <span><img src="./../assets/contact_icon.png" class="img-fluid mx-auto d-block " /></span>
              Contacts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span><img src="./../assets/campaign_icon.png" class="img-fluid mx-auto d-block" /></span>
              Campign
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span><img src="./../assets/sales_icon.png" class="img-fluid mx-auto d-block" /></span>
              Sales Pipeline
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span><img src="./../assets/briefcase.svg" class="img-fluid mx-auto d-block" alt=""></span>
              Openings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span><img src="./../assets/id-card.svg" class="img-fluid mx-auto d-block" alt=""></span>
              Candidates
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span><img src="./../assets/calendar.svg" class="img-fluid mx-auto d-block" alt=""></span>
              Calendar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span><img src="./../assets/bar-chart.svg" class="img-fluid mx-auto d-block" alt=""></span>
              Reports
            </a>
          </li>
        </ul>


        <ul class="nav flex-column mb-2">
          <!--<li class="nav-item">
            <a class="nav-link" href="#">
              <span><img src="./../assets/search.svg" class="img-fluid mx-auto d-block" alt=""></span>
              Search
            </a>
          </li>-->
          <li class="nav-item">

            <ngb-accordion #acc="ngbAccordion">
              <ngb-panel id="toggle-2">
                <ng-template ngbPanelTitle>
                  <span><img src="./../assets/settings.svg" class="img-fluid mx-auto d-block" alt=""></span>
                  Settings
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="accordion-body">
                    <ul>
                      <!--<li><a style="cursor:pointer;text-decoration-line:none;" [class.active]="router.url==='/personal'" (click)="personalSettings()">Personal Settings</a></li>-->
                      <li><a style="cursor:pointer;text-decoration-line:none;" [routerLink]="['/users']" routerLinkActive="active">Users</a></li>
                      <li><a style="cursor:pointer;text-decoration-line:none;" [routerLink]="['/roles']" routerLinkActive="active">Roles</a></li>
                      <!--<li><a style="cursor:pointer;text-decoration-line:none;" (click)="accessControl()" [class.active]="router.url==='/accesscontrol'">Access Control</a></li>-->
                      <li><a style="cursor:pointer;text-decoration-line:none;" [routerLink]="['/team']" routerLinkActive="active">Teams</a></li>
                      <!--<li><a style="cursor:pointer;text-decoration-line:none;" (click)="talent()" [class.active]="router.url==='/talent'">Talent</a></li>-->
                      <li><a href="#">Queues</a></li>
                      <li><a href="#">Bulk Upload</a></li>
                      <li><a href="#">Mass Email</a></li>

                    </ul>
                  </div>
                </ng-template>
              </ngb-panel>

            </ngb-accordion>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">
              <span><img src="./../assets/bar-chart.svg" class="img-fluid mx-auto d-block" alt=""></span>
              Graph
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span><img src="./../assets/information.svg" class="img-fluid mx-auto d-block" alt=""></span>
              Info
            </a>
          </li>-->
        </ul>






      </div>
    </nav>

    <!--<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="dashboardBody">

        <div class="settingPanel">
          <div class="contentList" *ngIf="ispersonalSettings">
            <h1 class="headerTitle">&nbsp;&nbsp;</h1>
            <ul>
              <li>
                <div class="iconArea">
                  <img src="./../assets/information.svg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="txtArea">
                  <h4><a (click)="profilePassword()">Profile Password</a></h4>
                  <p>Change your name, timezone &amp; password</p>
                </div>
              </li>
              <li>
                <div class="iconArea">
                  <img src="./../assets/information.svg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="txtArea">
                  <h4><a href="#">Email Notifications</a></h4>
                  <p>Change your name, timezone &amp; password</p>
                </div>
              </li>
              <li>
                <div class="iconArea">
                  <img src="./../assets/information.svg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="txtArea">
                  <h4>Email Templates</h4>
                  <p>Change your name, timezone &amp; password</p>
                </div>
              </li>
              <li>
                <div class="iconArea">
                  <img src="./../assets/information.svg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="txtArea">
                  <h4>Out of Office Responder</h4>
                  <p>Change your name, timezone &amp; password</p>
                </div>
              </li>
              <li>
                <div class="iconArea">
                  <img src="./../assets/information.svg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="txtArea">
                  <h4>Connect Email Account</h4>
                  <p>Change your name, timezone &amp; password</p>
                </div>
              </li>
              <li>
                <div class="iconArea">
                  <img src="./../assets/information.svg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="txtArea">
                  <h4>Sync Calendar</h4>
                  <p>Change your name, timezone &amp; password</p>
                </div>
              </li>
              <li>
                <div class="iconArea">
                  <img src="./../assets/information.svg" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="txtArea">
                  <h4>App Preferences</h4>
                  <p>Change your name, timezone &amp; password</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </main>-->
  </div>
</div>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

