
<div class="EditPageHeader">
  <div class="backBtnArea"><a class="TagBtn bg-purple" routerLink="/team"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
  <div class="Header">
    <h6 *ngIf="isAddMode">Add Team </h6>
    <h6 *ngIf="!isAddMode">Edit Team </h6>
  </div>
  <div class="tagBtnArea">
    <button type="submit" *ngIf="isAddMode" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

    <button type="submit" *ngIf="!isAddMode" class="btn buttonShape buttonGraphics">
      <img src="./../assets/graphic_icon_save.jpg" class="img-fluid mx-auto d-block " />
    </button>
    <button type="submit" *ngIf="!isAddMode" class="btn buttonShape buttonGraphics">
      <img src="./../assets/graphic_icon_delete.jpg" class="img-fluid mx-auto d-block " />
    </button>
  </div>
</div>



<div class="settingsFromSection">
  <div class="formArea">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="formSection">
        <h4 class="sectionTitle">Team</h4>       
        
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Team Name</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
          <label for="" class="col-sm-2 col-form-label">List of Users</label>
          <div class="col-sm-4">
            <div class="input-group">
              <ng-select [items]="userList"
                         bindLabel="item_text"
                         bindValue="item_id"
                         [ngModelOptions]="{standalone: true}"
                         [addTag]="addCustomUser"
                         [multiple]="true"
                         class="custom"
                         placeholder="Select user"
                         [(ngModel)]="selectedReportList">
              </ng-select>
              </div>
            </div>
          </div>
      </div>
      <div class="formSubmitArea">
        <div class="mb-3 row">
          <div class="col-sm-12">
            <!--<button type="submit" *ngIf="isAddMode" class="btn btn-primary">Save</button> &nbsp;
            <button type="submit" *ngIf="!isAddMode" class="btn btn-primary">Edit</button> &nbsp;
            <button type="submit" *ngIf="!isAddMode" class="btn btn-danger">Delete</button>-->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
