<div class="settingPanel companyheader">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    
    <div class="companyActionDropdown">
      <!--<h1 class="headerTitle">Company</h1>-->
      <select name="selectedStatus" [(ngModel)]="status" id="aantal" class="form-select" (ngModelChange)="changeStatus()">
        <option *ngFor="let st of statusList" [value]="st">{{st}}</option>
      </select>
    </div>
    <div class="col-md-4 titleActionArea">
      <div class="col-md-8 px-md-2">
        <div class="searchBox">
          <input class="form-control searchCandidate" type="text" placeholder="Search by Company name"  (change)="search($event.target.value)" aria-label="Search">
          <a ><img src="./../assets/loupe.svg" class="img-fluid " alt="icon"></a>
        </div>
      </div>
      <a routerLink="add" class="TagBtn bg-blue" title="Add Company"><i class="fa fa-users" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="settingsFromSection">
    <ag-grid-angular [domLayout]="'autoHeight'"
                     class="ag-theme-balham"
                     [rowData]="company"
                     rowHeight="40"
                     id="1"
                     columnHeight="50"
                     [pagination]="true"
                     (gridReady)="onGridReady($event)"
                     [suppressRowClickSelection]="true"
                     (cellClicked)="onCellClicked($event)"
                     [paginationPageSize]="defaultPageSize"
                     [columnDefs]="columnDefs">
    </ag-grid-angular>
    <!--Page Size:
  <select (change)="onPageSizeChanged($event)">
    <option value="10">10</option>
    <option value="100">100</option>
    <option value="500">500</option>
    <option value="1000">1000</option>
  </select>-->

  </div>
</div>
