
<div class="EditPageHeader">
  <div class="backBtnArea"><a class="TagBtn bg-purple" routerLink="/roles"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
  <div class="Header">
    <h6 *ngIf="isAddMode">Add Roles </h6>
    <h6 *ngIf="!isAddMode">Edit Roles </h6>
  </div>
  <div class="tagBtnArea">
    <button type="submit" *ngIf="isAddMode" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

    <button type="submit" *ngIf="!isAddMode" class="btn buttonShape buttonGraphics">
      <img src="./../assets/graphic_icon_save.jpg" class="img-fluid mx-auto d-block " />
    </button>
    <button type="submit" *ngIf="!isAddMode" class="btn buttonShape buttonGraphics">
      <img src="./../assets/graphic_icon_delete.jpg" class="img-fluid mx-auto d-block " />
    </button>
  </div>
</div>

<div class="settingsFromSection">
  <div class="formArea">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="formSection">
        <h4 class="sectionTitle">Roles</h4>
        <div class="mb-3 row">
          <label for="" class="col-sm-2 col-form-label">Role Name</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
          <label for="" class="col-sm-2 col-form-label">Clone Role</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Modules</th>
                  <th scope="col">Can Create</th>
                  <th scope="col">Can Edit</th>
                  <th scope="col">Can Delete</th>
                  <th scope="col">Can Read</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Accounts</td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" checked></td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" checked></td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" ></td>
                  <td>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">Everyone</option>
                      <option value="2">No Access</option>
                      <option value="3">View Only</option>
                    </select>
                  </td>
                </tr>
                <!--<tr>
                  <td>Administrator</td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" checked></td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" checked></td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" ></td>
                  <td>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">Everyone</option>
                      <option value="2">No Access</option>
                      <option value="3">View Only</option>
                    </select>
                  </td>
                </tr>-->
                <!--<tr>
                  <td>Account Manager</td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" checked></td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" checked></td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" ></td>
                  <td>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">Everyone</option>
                      <option value="2">No Access</option>
                      <option value="3">View Only</option>
                    </select>
                  </td>
                </tr>-->
                <!--<tr>
                  <td>HR Manager</td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" checked></td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" checked></td>
                  <td><input class="form-check-input" type="checkbox" value="" id="" ></td>
                  <td>
                    <select class="form-select">
                      <option selected>Select</option>
                      <option value="1">Everyone</option>
                      <option value="2">No Access</option>
                      <option value="3">View Only</option>
                    </select>
                  </td>
                </tr>-->
              </tbody>
            </table>
          </div>
        </div>

        
      </div>

      <div class="formSubmitArea">
        <div class="mb-3 row">
          <div class="col-sm-12">
            <!--<button type="submit" *ngIf="isAddMode" class="btn btn-primary">Save</button> &nbsp;
            <button type="submit" *ngIf="!isAddMode" class="btn btn-primary">Edit</button> &nbsp;
            <button type="submit" *ngIf="!isAddMode" class="btn btn-danger">Delete</button>-->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
